<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse - Registered Companies</title>
</head>
<body>
    <a href="{% url 'inventory:addcompanypage' %}">Add New Company</a>
    {% if companies %}
    <h1>List of Companies</h1>
    
    <ul>
        {% for company in companies %}
            <li>{{ company.name }}</li>  <!-- Display each company's name -->
        {% endfor %}
    </ul>
    {%else%}
    <p>No Company to display</p>
    {% endif %}
</body>
</html>