<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCart - Home</title>
</head>
<body>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'signuppage' %}">Signup</a>
    <a href="{% url 'loginpage' %}">Login</a>
    {% endif %}
</body>
</html>