<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse - Medical Formulae</title>
</head>
<body>
    <a href="{% url 'inventory:addformulapage' %}">Add New formula</a>
    {% if formulae %}
    <h1>List of Medical Formulae</h1>
    
    <ul>
        {% for formula in formulae %}
            <li>
                <a href="{% url 'inventory:editformulapage' formula.id %}">{{ formula.formula_name }}</a>
            </li>
        {% endfor %}
    </ul>
    {%else%}
    <p>No formulae to display</p>
    {% endif %}
</body>
</html>